
<html>
<body>
    <div class="text-center">
        <h1 class="display-4" style="margin-top: 65px">The AthMan</h1>
        <p class="lead">Helping to Manage the World's Athletes</p>
    </div>
</body>
</html>
