
<html>
<body>
    <div class="text-center">
        <h1 class="display-4" style="margin-top: 65px">The AthMan</h1>
        <p class="lead">Helping to Manage the World's Athletes</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
                <a asp-controller="Items" asp-action="List"
                   class="list-group-item">View our products</a>
                <a asp-controller="Home" asp-action="About"
                   class="list-group-item">Learn more about us</a>
            </div>
        </div>
    </div>
</body>
</html>
