
<html>
<body>
    <div class="text-center">
        <h1 class="display-4" style="margin-top: 65px">The AthMan</h1>
        <p class="lead">Helping to Manage the World's Athletes</p>
    </div>
    <div class="align-items-center">
        <div class="col">
            <div class="list-group">
                <a asp-controller="Items" asp-action="Index"
                   class="list-group-item">View our Items</a>
                <a asp-controller="Employees" asp-action="Index"
                   class="list-group-item">View our Employees</a>
                <a asp-controller="Clients" asp-action="Index"
                   class="list-group-item">View our Clients</a>
                <a asp-controller="Incidents" asp-action="Index"
                   class="list-group-item">View our Incidents</a>
            </div>
        </div>
    </div>
</body>
</html>
