@{
    ViewBag.Title = "The AthMan";
    ViewBag.TitleMessage = "Helping to Manage the World's Athletes";
}

<html>
<body>
    <div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <a asp-controller="Items" asp-action="Index" class="text-decoration-none">
                    <div class="card bg-dark text-white">
                        <div class="card-body display-4 text-center pt-4 pb-4">
                            <div class="card-text"><span class="fas fa-dollar-sign"></span>   Items</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-3">
                <a asp-controller="Employees" asp-action="Index" class="text-decoration-none">
                    <div class="card bg-dark text-white">
                        <div class="card-body display-4 text-center pt-4 pb-4">
                            <div class="card-text"><span class="fas fa-id-card"></span>   Employees</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <a asp-controller="Clients" asp-action="Index" class="text-decoration-none">
                    <div class="card bg-dark text-white">
                        <div class="card-body display-4 text-center pt-4 pb-4">
                            <div class="card-text"><span class="fas fa-user-tie"></span>   Clients</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 mb-3">
                <a asp-controller="Incidents" asp-action="Index" class="text-decoration-none">
                    <div class="card bg-dark text-white">
                        <div class="card-body display-4 text-center pt-4 pb-4">
                            <div class="card-text"><span class="fas fa-book"></span>   Incidents</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
